@model RS1_Ispit_asp.net_core.ViewModels.UcesnikVM


<div class="row">
    <div class="col-md-4 col-sm-4">
        <form ajax-poziv="da" action="/Takmicenje/EditUcesnika" ajax-rezultat="takmicenja"> 
            <input asp-for="@Model.TakmicenjeId" hidden />
            <div class="form-group">
                <label asp-for="@Model.UcesnikId" class="control-label">Ucesnik</label>
                <select asp-for="@Model.UcesnikId" asp-items="@Model.Ucesnici.Select(s => new SelectListItem { Value = s.Id.ToString(), Text = s.Naziv})" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Bodovi" class="control-label"></label>
                <input asp-for="Bodovi" class="form-control" />
                <span asp-validation-for="Bodovi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



